In [18]:
import pandas as pd
from sympy import *
import sympy as sp
from sympy.interactive import printing
printing.init_printing(use_latex=True)

In [19]:
x=sp.symbols('x')
f=sp.Function('f')(x)

In [20]:
de1 = Eq(f.diff(x)-f,0)
de2 = Eq(f.diff(x),f+x)

In [21]:
s = pd.Series([de1,de2]*1000000)

In [22]:
df = pd.DataFrame(s)

In [23]:
c = pd.Series([dsolve(de1,f),dsolve(de2,f)]*1000000)

In [8]:
df['c']=c

In [9]:
df

,0,c
0,"Eq(-f(x) + Derivative(f(x), x), 0)","Eq(f(x), C1*exp(x))"
1,"Eq(Derivative(f(x), x), x + f(x))","Eq(f(x), (C1 + (-x - 1)*exp(-x))*exp(x))"
2,"Eq(-f(x) + Derivative(f(x), x), 0)","Eq(f(x), C1*exp(x))"
3,"Eq(Derivative(f(x), x), x + f(x))","Eq(f(x), (C1 + (-x - 1)*exp(-x))*exp(x))"
4,"Eq(-f(x) + Derivative(f(x), x), 0)","Eq(f(x), C1*exp(x))"
...,...,...
1999995,"Eq(Derivative(f(x), x), x + f(x))","Eq(f(x), (C1 + (-x - 1)*exp(-x))*exp(x))"
1999996,"Eq(-f(x) + Derivative(f(x), x), 0)","Eq(f(x), C1*exp(x))"
1999997,"Eq(Derivative(f(x), x), x + f(x))","Eq(f(x), (C1 + (-x - 1)*exp(-x))*exp(x))"
1999998,"Eq(-f(x) + Derivative(f(x), x), 0)","Eq(f(x), C1*exp(x))"
1999999,"Eq(Derivative(f(x), x), x + f(x))","Eq(f(x), (C1 + (-x - 1)*exp(-x))*exp(x))"